export(encToInt)
export(fix_common_encoding_problems)
export(fix_levels_01_R)
export(fix_levels_01_SPSS)
export(has_dk)
export(intToEnc)
export(leveltest_R)
export(leveltest_SPSS)
export(remove_all_dk)
export(remove_dk)
