export(has_dk)
export(remove_dk)
export(remove_all_dk)
export(leveltest_SPSS)
export(fix_levels_01_SPSS)
export(leveltest_R)
export(fix_levels_01_R)
export(encToInt)
export(intToEnc)
export(fix_common_encoding_problems)
export(varlabels)
export(replace_varlabels)
export(replace_varlabel_names)
export(replace_names)
export(merge_varlabels)
export(surveyor_merge)
export(surveyor_rename_cols)
export(surveyor_extract)
export(question_list)
